
# HTID:14259788: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:14259788:

# HTID:14259794: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /index.php http://vogeluniforms.000webhostapp.com/login.php
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:14259794:
